.form_container{
  padding: 100px;
}
  
  /* Estilo para o contêiner do formulário */
  .form_container div{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  
  /* Estilo para o cabeçalho do formulário */
 .form_container  h1 {
    text-align: center;
    color: #333;
  }
  

  /* Estilo para os rótulos dos campos */
  label {
    margin-bottom: 5px;
    color: #555;
  }
  
  /* Estilo para os campos de entrada de texto e textarea */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Estilo para o botão de envio */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para mensagens de erro */
  .error {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  

  .form_container {
    background-image: url('../Recursos/fundocontact.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
}


.form_container {
  background-color: rgba(122, 124, 238, 0.1);
}