video{
    margin-top: 90px;
    width: 100%; /* Define a largura como 100% para ajustar ao container */
    height: auto;
    object-fit: cover;
}

.palavrasV{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
}

.carrcontainer{
    background-color: #7a7cee67;
}
.titulo{
    font-size: large;
}