footer {
    width: 96,5%;
    height: auto; /* Altura do footer ajustada para exibir o conteúdo */
    background-color: #090021;
    text-align: center;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 25px;
    color: white;
    font-family: "Montserrat", Arial, sans-serif;
    overflow: hidden; 
 
}

.logos_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    height: 100%;
}
  
.footer-content p {
    margin: 0;
    font-size: 14px; 

    
}

.direitos p{
    font-size: 18px;
}

.footer-content span {
    font-weight: bold;
}
  


.footer_table {
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 10%;
    aspect-ratio: 3/2;
    object-fit: contain;
    opacity: 0.7;
}

.imagem_nucleo {
    width: 20%;
}

.imagem_ubi {
    margin-left: 60px;
    width: 12%;
}

.imagem2 {
    width: 15%;
    padding: 20px;
}







