/* AwardsSection.css */

/* Estilos para a seção de prêmios */
.awards-section {
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos para o título da seção */
  .awards-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para o carrossel */
  .slick-slider {
    position: relative;
  }
  
  /* Estilos para os cartões de prêmio */
  .award-card {
    padding: 20px;
    text-align: center;
  }
  
  .award-card img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .award-card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  /* Estilos para as setas de navegação do carrossel */
  .slick-arrow {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }
  